
.gallery_body {
  padding: 0;
  box-sizing: border-box;
  --line-offset: calc((10vh + 8px) / 2);
  }
    .container {
 
    
    display: grid;
    grid-template-rows: 5fr 1fr;
    background: #0219197c;
    height:65vh;
    position: relative;
    padding-bottom: 20px;
   
    top: -1.3rem;
    left: 0.5rem;
   
    
    }

    .previewlist{
      position: relative;
      bottom:-60px;
      margin: auto;
      
     
    }
    
    .img_ul {
    list-style: none;
    width: 70%;
    margin: auto;
    padding: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    
    }

    .img_ul .img_li{
      margin:  0 1rem;
      
    }
    
    .tab {
    width: calc(10vh + 8px);
    height: calc(10vh + 8px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);
    shape-outside: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);
    z-index: 0;
    transition: width 0.5s;
    
    }
    
    .tab .imgtab {
    width: 10vh;
    height: 10vh;
    z-index: 10;
    cursor: pointer;
    clip-path: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);
    shape-outside: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);
    transition: width 0.5s;
    
    }
    
    [type=radio] {
    display: none;
    }
    
    .previewlist {
    background: linear-gradient(#02191900, #f6f8f800 var(--line-offset), #33f7f700 var(--line-offset)); 
    
    }
    
    .tab {
    background: linear-gradient(#021919, #021919 var(--line-offset), #021919 var(--line-offset));
    
    }
    
    .tab:hover {
      width: calc(12vh + 8px);
    }
    .tab .imgtab:hover {
      width: 12vh;
    }
    [type=radio]:checked + label .tab {
    width: 0;
    
    }
    
    [type=radio]:checked + label ~ .caption {
    opacity: 1;
    transform: translateY(0);
    z-index: 8;
    }
    

    .fullview {
    position: relative;
    margin-top: 10px;
    }
    
    .fullview .imgfullView {
    height: 110%;
    width: 75%;
    margin-top: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:25px;
    }

   

    .fullview:hover {
      opacity: 0.8;
    }

    