.main {
    position: fixed;
    left: 3rem;
    bottom: 7rem;
    z-index: 9000;
  }
  
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border: none;
    color: var(--whiteColor);
    background: var(--gradientColor);
    border-radius: 50%;
    padding: 0.6rem;
  }
  
  .chatbot_container {
    position: fixed;
    display: none;
    left: 3rem;
    bottom: 2rem;
     width: 17%; 
    max-width: 150%;
    height:85%;
  
    border: 1px solid #ccc;
    border-radius: 20px;
    /* overflow: hidden; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* transition: 5s all ease-in; */
    background: var(--gradientColor);
  }
  .open {
    left: 7rem;
  
    transition: left 0.3s ease;
    display: block;
  }
  
  .close {
    position: absolute;
    /* top: 0.5rem; */
    /* right: .5rem; */
    padding: 0.5rem;
    display: flex;
    align-items: flex-start;
  }
  .close_btn {
    display: flex;
    align-items: center;
  
    justify-content: center;
    width: 1.4rem;
    height: 1.4rem;
    border: none;
    color: var(--whiteColor);
    background: var(--gradientColor);
    border-radius: 50%;
    padding: 0.1rem;
  }
  
  